{% extends 'base.html' %}
{% from 'macros.html' import render_field %}
{% block content %}

<h1>New {{ asset_type_name }} Solution</h1>

<form method="POST" action="/add_solution_post" id="add-solution-form" name="add-solution" role="form">
    <label for="solution_title">Solution Title:</label>
    <input type="text" name="solution_title">
    <div id="dynamic-input-steps">
    </div>
    <input type="button" value="Add Step" class="add-step-field">
    <input type="button" value="Submit solution" id="add-solution-button">
</form>

<div id="added-steps"></div>
{% if message != 0 %}
<p>{{ message }}</p>
{% endif %}

{% endblock %}