{% extends 'base.html' %}
{% from 'macros.html' import render_field %}
{% block content %}

<h2>Software Information</h2>

<div class="form-popup" id="new-software-company">
    <form action="" method="POST">
        {{ add_software_company_form.hidden_tag() }}
        {{ add_software_company_form.software_company }}<br>
        {{ add_software_company_form.software_company_submit }}    <button onclick="closeSoftwareCompanyForm()">Cancel</button><br>
        <!--<p>This is a test page</p>-->
        <!--<button type="submit" onclick="closeForm()">Submit</button>-->
    </form>
</div>
<div class="form-popup" id="new-software">
    <form action="" method="POST">
        {{ add_software_form.hidden_tag() }}
        {{ add_software_form.software_company }}<br>
        {{ add_software_form.software_name }}<br>
        {{ add_software_form.software_submit }}    <button onclick="closeSoftwareForm()">Cancel</button><br>
        <!--<p>This is a test page</p>-->
        <!--<button type="submit" onclick="closeForm()">Submit</button>-->
    </form>
</div>

<h3>Software</h3>
<p><span class="open-button" onclick="openSoftwareCompanyForm()">Add Software Company</span></p>
<span class="open-button" onclick="openSoftwareForm()">Add Software</span>
<p>Latest software</p>
{% for s in all_software %}
{{ s }}
<p><a href="{{ url_for('view_one_software', soft_id=s.id) }}">{{ soft_company_dict[s.software_company] }} - {{ s.software_name }}</a></p>
{% endfor %}

{% endblock %}