{% extends 'base.html' %}
{% from 'macros.html' import render_field %}
{% block content %}

<div id="js-solution">
    <div id="solution-box">
    <h2>{{ title }} </h2> <button onclick="showEditSolutionForm()">Edit</button>
    {% for step in steps %}
    <p>{{ step }} - {{ steps[step]['Instruction'] }}</p>
        <p>
            {% for i in step_images[step] %}
            <img src="{{ url_for('static', filename=i[0]) }}" style="width: 150px; height: 150px">
            {% endfor %}
        </p>
    {% endfor %}
    </div>
    {% if public %}
    <p>This solution is visible to anyone. Send link below to share</p>
    <a href="{{ url_for('public_solution', solution_id=solution_id) }}">Click this to view: {{ title }}</a>
    {% endif %}
</div>

<div id="edit-solution-form-container" style="display: none">
    <form method='POST' action='/edit_solution_post' id='edit-solution-form' name='edit-solution' role='form'>
        <input type="text" name="solution_id" required value="{{ solution_id }}" style="display: none">
        <label for="solution_title">Solution Title:</label>
        <input type="text" name="solution_title" required value="{{ title }}">
        <p>Steps</p>
        <ul id="dynamic-input-steps">
            {% for step in steps %}
            <li class='ui-state-default'><textarea name='step{{ step }}' >{{ steps[step]['Instruction'] }}</textarea>
            <input type='file' id='step{{ step }}images' name='image{{ step }}' accept='.jpg,.jpeg' onchange='readURL(this, {{ step }})' multiple></br>
                {% for i in step_images[step] %}
                <span id='output{{ step }}'></span>
                <input type="checkbox" class="img-checkable" name="step{{ step }}img{{ i[1] }}" checked/>
                <label for="step{{ step }}img{{ i[1] }}"><img src="{{ url_for('static', filename=i[0]) }}" style="width: 150px; height: 150px"/></label>
                <!--<img src="{{ url_for('static', filename=i) }}" style="width: 150px; height: 150px">-->
                {% endfor %}
                <a href='#' class='delete'>Delete</a>
            </li>
            {% endfor %}
        </ul>
        <input type="checkbox" id="public-solution" name="public_solution" value="Public-Solution" {% if public %}checked{% endif %}>
        <label for="public_solution">Make public</label></br>
        <input type="button" value="Add Step" onclick="editSolutionAddStep()">
        <input type='button' value="Cancel" onclick="closeEditSolutionForm()"></button>
        <input type="submit" value="Edit solution">
    </form>
</div>
</div>
<div class="right-column">

    <h2>Related Info</h2>
    <div id="associated-solutions">
        <h3>Related Solutions</h3>
        <div class="scrollable">
            {% for i in assoc_solutions %}
            <p>{{ assoc_solutions[i] }} <span class="show-on-edit" onClick="removeAssocSolution({{ i }})">Delete</span></p>
            {% endfor %}
        </div>
        <input type="text" name="search-solutions" id="search-solutions" placeholder="Search Solutions" class="">
        <div id="snackbar">No result</div>
            <form action="" id="add-assoc-solution-form" method="POST">
                <!--<span style="display: none">-->
                <span>
                    {{ add_assoc_solution_form.hidden_tag() }}
                    <span style="display: none">{{ add_assoc_solution_form.assoc_solution_id() }}
                    {{ add_assoc_solution_form.main_solution_id }}</span>
                    <span id="assoc-solution-buttons" style="display: none">{{ add_assoc_solution_form.assoc_solution_submit() }}
                    <button onClick="cancelAddAssocSolution()">Cancel</button></span>
                </span>
            </form>
        <ul class="list-group" id="result"></ul>
    </div>
    <div id="associated-asset-types">
        <h3>Related Asset Types</h3>  <button id="change-primary-button" onClick="openChangePrimaryForm()" style="display: none">Change Primary</button>
        <form action="" id="change-primary-form" class="form-popup" method="POST">
            {{ change_primary_asset_type_form.hidden_tag() }}
            {{ change_primary_asset_type_form.all_asset_types }}
            {{ change_primary_asset_type_form.change_primary_asset_type_submit }}<span onclick="closeChangePrimaryForm()">Cancel</span><br>
        </form>
        <div class="scrollable">
            {% for i in associated_asset_types %}
            <!-- TODO: Add a conditional that if it is the primary asset type, do not give option to delete it -->
            <p>{{ associated_asset_types[i] }} <span class="show-on-edit" onClick="removeAssocAssetType({{ i }})">Delete</span></p>
            {% endfor %}
        </div>
        <form action="" id="add-assoc-type-form" style="display: none" method="POST">
            {{ add_type_to_solution_form.hidden_tag() }}
            {{ add_type_to_solution_form.asset_types() }}
            {{ add_type_to_solution_form.add_submit }} <span style="display: none">{{ add_type_to_solution_form.solution_id }}</span>
            <button onClick="closeAddAssocTypeForm()">Cancel</button>
        </form>
        <div id="add-assoc-type-button">
            <button class="open-button" id="solution-type-button" onclick="openAddAssocTypeForm()">Add New solution type</button>
        </div>
    </div>
    <!-- TODO: really only show this part when someone is logged in-->
    <!-- TODO: This is functionality that will be put in the python code for now-->
    <!--<button id="new-assoc-type" onClick="showAddAssocType()">New Asset Type</button>-->
</div>

{% endblock %}