body {
    background-color: #B1BBBC;
}

.left-column {
    float: left;
    width: 15%;
    height: 500px;
    background-color: #4E4E4E;
}

.right-column {
    float: right;
    width: 15%;
    height: 500px;
    background-color: #4E4E4E;
}

.main-solution {
    float: left;
    width: 70%;
    height: 400px;
    background-color: #BABABA;
}

nav {
    padding: 15px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #AA7777
    z-index: 1;
}

.dropdown-content a {
    text-decoration: none;
    display: block
    background-color: #AA7777
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav-selected {
    background-color: red;
}

.cat-selected {
    background-color: green;
}

.form-popup {
    display: none;
    position: fixed;
/*    height: 10%;
    width: 25%;*/
    opacity: 100;
    background: white;
    border: 2px solid blue;
    z-index: 0;
    padding: 3px;
}

#result {
   position: absolute;
   width: 100%;
   max-width:870px;
   cursor: pointer;
   overflow-y: auto;
   max-height: 400px;
   box-sizing: border-box;
   z-index: 1001;
}

#snackbar {
    visibility: hidden;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.list-group-item {
    background-color: #A7A7A7;
}

#sidvalue {
    visibility: hidden;
}

.list-group-item:hover {
    background-color: #E0E0E0;
}

ul {
    list-style-type: none;
}

.link-class:hover{
background-color:#f1f1f1;
}

.scrollable {
    height: 100px; /* or any value */
    overflow: hidden;
    overflow-y: scroll;
}

.show-on-edit {
    visibility: hidden;
}

.notice {
    color: #CF0000;
}

#dynamic-input-steps {
    list-style-type: none;
    margin: 0;
    padding: 2px;
    width: 60%;
}

#dynamic-input-steps li {
    margin: 5px 5px 5px 5px;
    border-top: 1px solid black;
    list-style-position:outside;
    padding: 5px;
    font-size: 1.2em;
/*    height: 1.5em;*/
}


#dynamic-input-steps-edit {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
    width: 60%;
}

#dynamic-input-steps-edit li {
    margin: 0 5px 5px 5px;
    border: 1px solid black;
    padding: 5px;
    font-size: 1.2em;
    height: 1.5em;
}


#solution-box {
    border-color: black;
    border-bottom: double;
}


/*
input[type=checkbox] {
display:none;
}

input#thing1[type=checkbox] + label
{
background-image: url("http://lorempixel.com/50/50/");
border-color: white;
border-style: solid;
height: 50px;
width: 50px;
display:inline-block;
padding: 0 0 0 0px;
}

input#thing2[type=checkbox] + label
{
background-image: url("http://lorempixel.com/g/50/50/");
border-color: white;
border-style: solid;
height: 50px;
width: 50px;
display:inline-block;
padding: 0 0 0 0px;
}
input#thing3[type=checkbox] + label
{
background-image: url("http://lorempixel.com/50/50/sports/1/");
border-color: white;
border-style: solid;
height: 50px;
width: 50px;
display:inline-block;
padding: 0 0 0 0px;
}
input#thing4[type=checkbox] + label
{
background-image: url("http://lorempixel.com/50/50/sports/");
border-color: white;
border-style: solid;
height: 50px;
width: 50px;
display:inline-block;
padding: 0 0 0 0px;
}

input#thing1[type=checkbox]:checked + label
{
border-color: red;
border-style: solid;
height: 50px;
width: 50px;
display:inline-block;
padding: 0 0 0 0px;
}

input#thing2[type=checkbox]:checked + label
{
border-color: red;
border-style: solid;
height: 50px;
width: 50px;
display:inline-block;
padding: 0 0 0 0px;
}

input#thing3[type=checkbox]:checked + label
{
border-color: red;
border-style: solid;
height: 50px;
width: 50px;
display:inline-block;
padding: 0 0 0 0px;
}
input#thing4[type=checkbox]:checked + label
{
border-color: red;
border-style: solid;
height: 50px;
width: 50px;
display:inline-block;
padding: 0 0 0 0px;
}
*/